<% if post.is_deleted? %>
  <div class="notice notice-deleted">
    <% if post.deletion_reason.present? %>
      <p>This post was deleted for following reason: </p>
      <%= render "posts/partials/show/flag_reasons", post: post %>
    <% else %>
      <p>This post was deleted</p>
    <% end %>
  </div>
<% end %>

<% if post.replacements.pending.any? %>
  <div class="notice notice-flagged">
    <p>This post has <%= link_to "pending replacements.", post_replacements_path(search: { post_id: @post.id }) %></p>
  </div>
<% end %>
