.post-score-rating {
  font-weight: 700;
}

.post-rating-text-safe {
  color: palette("text-green");
}

.post-rating-text-questionable {
  color: palette("text-yellow");
}

.post-rating-text-explicit {
  color: palette("text-red");
}
