<%# locals: (tag:) -%>
<% if tag&.antecedent_alias %>
  <p class="hint">
    This tag has been aliased to <%= link_to_tag(tag.antecedent_alias.consequent_tag) %>
  </p>
<% end %>
<% if tag&.consequent_aliases&.present? %>
  <p class="hint">
    The following tags are aliased to this tag: <%= multiple_link_to_tag(tag.consequent_aliases.map(:antecedent_tag).sort) %>
  </p>
<% end %>
<% if tag&.antecedent_implications&.present? %>
  <p class="hint">
    This tag implicates <%= multiple_link_to_tag(tag.antecedent_implications.pluck(:consequent_tag).sort) %>
  </p>
<% end %>
<% if tag&.consequent_implications&.present? %>
  <p class="hint">
    The following tags implicate this tag: <%= multiple_link_to_tag(tag.consequent_implications.pluck(:antecedent_tag).sort) %>
  </p>
<% end %>
