<section id="mode-box">
  <h1>Mode</h1>
  <form action="/">
    <select name="mode" id="mode-box-mode">
      <option value="view">View</option>
      <option value="edit">Edit</option>
      <option value="add-fav">Favorite</option>
      <option value="remove-fav">Unfavorite</option>
      <option value="rating-s">Rate Safe</option>
      <option value="rating-q">Rate Questionable</option>
      <option value="rating-e">Rate Explicit</option>
      <option value="tag-script">Tag script</option>
      <option value="remove-parent">Remove Parent</option>
      <option value="delete">Delete</option>
      <option value="undelete">Undelete</option>
    </select>
  </form>
  <% if FemboyFans.config.show_tag_scripting?(CurrentUser.user) %>
    <span id="tag-script-ui" style="display: none;">
      <input id="tag-script-field" data-autocomplete="tag-edit" placeholder="Enter tag script" style="display: none;"/>
      <button id="tag-script-all">All</button>
    </span>
    <input id="quick-mode-reason" placeholder="Reason" style="display: none;"/>
  <% end %>
</section>
