<div id="posts" class="user-disable-cropped-<%= FemboyFans.config.enable_image_cropping? %>">
  <div id="posts-container">
    <% if @posts.empty? %>
      <%= render "posts/blank" %>
    <% else %>
      <% @posts.each do |post| %>
        <%= post.preview_html(self, { tags: @post_set.public_tag_string, show_cropped: true, stats: true }) %>
      <% end %>
    <% end %>
  </div>

  <% unless post_set.is_random? %>
    <%= numbered_paginator(post_set.posts) %>
  <% end %>
</div>
