<div class="ribbons">
  <% if post.parent_id.present? %>
    <% if post.has_visible_children? %>
      <div class="ribbon left has-parent has-children" title="Has Parent\nHas Children">
        <span></span>
      </div>
    <% else %>
      <div class="ribbon left has-parent" title="Has Parent">
        <span></span>
      </div>
    <% end %>
  <% elsif post.has_visible_children? %>
    <div class="ribbon left has-children" title="Has Children">
      <span></span>
    </div>
  <% end %>

  <% if post.is_deleted? %>
    <div class="ribbon right is-deleted" title="Deleted">
      <span></span>
    </div>
  <% end %>
</div>
