<div class="replace-image-dialog-body">
  <div>
    <% if post.visible? %>
      <%= PostPresenter.preview(post, show_deleted: true) %>
    <% end %>
    <div><%= "#{post.image_width}x#{post.image_height} (#{post.file_size.to_fs(:human_size, precision: 5)})" %></div>
  </div>
  <br>

  <div id="replacement-uploader" class="simple_form"></div>
</div>

<%= javascript_tag nonce: true do -%>
  Danbooru.Replacer.init();
<% end -%>
