<div id="uploader"></div>
<%= javascript_tag nonce: true do -%>
  Danbooru.Uploader.init();
<% end -%>
<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  New Upload
<% end %>
